/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: "mavenpro-regular", sans-serif;
  background-color: #fff;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 18px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

/*MAIN*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input:not(input[type=checkbox]):not(input[type=radio]),
textarea {
  color: #333;
  font-family: "mavenpro-regular", sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

td {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 0px;
  margin: 0px;
}

a {
  color: #2f2f2f;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
span,
div,
button {
  outline: none !important;
}

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul,
li {
  list-style: none;
}

p {
  text-transform: uppercase;
}

body.error404 main.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body.error404 .error-404.not-found {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding: 55px 10px 10px;
  text-align: center;
}
body.error404 .error-404.not-found h1 {
  font-weight: 700;
  font-size: 57px;
  font-family: "mavenpro-regular", sans-serif;
  font-padding-top: 0;
  font-padding-top: 0;
}
body.error404 .error-404.not-found h2 {
  font-weight: 700;
  font-size: 47px;
  font-family: "mavenpro-regular", sans-serif;
}

@font-face {
  font-family: "mavenpro-regular";
  src: url("../fonts/mavenpro-regular/mavenpro-regular.eot");
  src: url("../fonts/mavenpro-regular/mavenpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-regular/mavenpro-regular.woff2") format("woff2"), url("../fonts/mavenpro-regular/mavenpro-regular.woff") format("woff"), url("../fonts/mavenpro-regular/mavenpro-regular.ttf") format("truetype"), url("../fonts/mavenpro-regular/mavenpro-regular.svg#mavenpro-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mavenpro-bold";
  src: url("../fonts/mavenpro-bold/mavenpro-bold.eot");
  src: url("../fonts/mavenpro-bold/mavenpro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-bold/mavenpro-bold.woff2") format("woff2"), url("../fonts/mavenpro-bold/mavenpro-bold.woff") format("woff"), url("../fonts/mavenpro-bold/mavenpro-bold.ttf") format("truetype"), url("../fonts/mavenpro-bold/mavenpro-bold.svg#mavenpro-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mavenpro-medium";
  src: url("../fonts/mavenpro-medium/mavenpro-medium.eot");
  src: url("../fonts/mavenpro-medium/mavenpro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/mavenpro-medium/mavenpro-medium.woff2") format("woff2"), url("../fonts/mavenpro-medium/mavenpro-medium.woff") format("woff"), url("../fonts/mavenpro-medium/mavenpro-medium.ttf") format("truetype"), url("../fonts/mavenpro-medium/mavenpro-medium.svg#mavenpro-medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #ccc;
}

.mfp-preloader a:hover {
  color: #fff;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #fff;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #fff;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
      * Remove all paddings around the image on small screen
      */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
/*

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Newspaper effect ======

*/
.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0) rotate(500deg);
      -ms-transform: scale(0) rotate(500deg);
          transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
      -ms-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0) rotate(500deg);
      -ms-transform: scale(0) rotate(500deg);
          transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-from-top effect ======

*/
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== 3d unfold ======

*/
.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-3d-unfold .mfp-content {
  -webkit-perspective: 2000px;
          perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(-60deg);
          transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  -webkit-transform: rotateY(60deg);
          transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Zoom-out effect ======

*/
.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== "Hinge" close effect ======

*/
@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
            transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(700px);
            transform: translateY(700px);
    opacity: 0;
  }
}
@keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20%, 60% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(60deg) translateY(0);
            transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(700px);
            transform: translateY(700px);
    opacity: 0;
  }
}
.hinge {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: hinge;
          animation-name: hinge;
}

.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  background-color: #fcfcfc;
}
@media screen and (max-width: 767px) {
  .headerTop {
    height: 62px;
  }
}
.headerTop__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}
.headerTop__logo {
  line-height: 1;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "mavenpro-bold", sans-serif;
  color: #123366;
  letter-spacing: -2px;
}
@media screen and (max-width: 767px) {
  .headerTop__logo {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .headerTop__menuWrap {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 62px;
    -webkit-transition: all 1s ease 0.5s;
    -o-transition: all 1s ease 0.5s;
    transition: all 1s ease 0.5s;
  }
  .headerTop__menuWrap.active {
    display: block;
  }
  .headerTop__menuWrap.active .headerTop__nav {
    max-height: 350px;
  }
}
.headerTop__menuBackdrop {
  display: none;
}
@media screen and (max-width: 767px) {
  .headerTop__menuBackdrop {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
  }
}
@media screen and (max-width: 767px) {
  .headerTop__nav {
    position: relative;
    z-index: 1;
    background: #fff;
    width: 100%;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }
}
.headerTop__menuBtnClose {
  display: none;
}
@media screen and (max-width: 767px) {
  .headerTop__menuBtnClose {
    display: block;
    border: none;
    background: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .headerTop__menuBtnClose:before, .headerTop__menuBtnClose:after {
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: #2f2f2f;
    -webkit-transform: rotate(45deg) translate(-12px, 10px);
        -ms-transform: rotate(45deg) translate(-12px, 10px);
            transform: rotate(45deg) translate(-12px, 10px);
  }
  .headerTop__menuBtnClose:after {
    -webkit-transform: rotate(-45deg) translate(-10px, -12px);
        -ms-transform: rotate(-45deg) translate(-10px, -12px);
            transform: rotate(-45deg) translate(-10px, -12px);
  }
}
.headerTop__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
@media screen and (max-width: 767px) {
  .headerTop__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
  }
}
@media screen and (max-width: 767px) {
  .headerTop__menuItem {
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
  }
}
.headerTop__menuLink {
  color: #2f2f2f;
  font-size: 26px;
  font-weight: 400;
  font-family: "mavenpro-bold", sans-serif;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.headerTop__menuLink:hover, .headerTop__menuLink:active {
  color: #eb1b2b;
}
@media screen and (max-width: 767px) {
  .headerTop__menuLink {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }
}
.headerTop__burgerWrap {
  display: none;
}
@media screen and (max-width: 767px) {
  .headerTop__burgerWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.headerTop__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  width: 40px;
  height: 30px;
  padding: 0;
}
.headerTop__burger.active span:nth-child(2) {
  display: none;
}
.headerTop__burger.active span:first-child,
.headerTop__burger.active span:last-child {
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  background-color: #2f2f2f;
  -webkit-transform: rotate(45deg) translate(13px, 7px);
      -ms-transform: rotate(45deg) translate(13px, 7px);
          transform: rotate(45deg) translate(13px, 7px);
}
.headerTop__burger.active span:last-child {
  -webkit-transform: rotate(-45deg) translate(-7px, 13px);
      -ms-transform: rotate(-45deg) translate(-7px, 13px);
          transform: rotate(-45deg) translate(-7px, 13px);
}
.headerTop__burger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #2f2f2f;
}

.footer {
  padding: 50px 0;
  background: #fff;
}

.footerTop__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .footerTop__logoWrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footerTop__logo {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  font-family: "mavenpro-bold", sans-serif;
  color: #123366;
  letter-spacing: -2px;
}
@media screen and (max-width: 767px) {
  .footerTop__logo {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .footerTop__menuWrap {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .footerTop__nav {
    margin-left: auto;
    margin-right: auto;
  }
}
.footerTop__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .footerTop__menu {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .footerTop__menuItem {
    width: 100%;
    text-align: center;
  }
}
.footerTop__menuLink {
  font-size: 18px;
  color: #2f2f2f;
  font-weight: 700;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.footerTop__menuLink:hover, .footerTop__menuLink:active {
  color: #eb1b2b;
}
@media screen and (max-width: 767px) {
  .footerTop__menuSocialWrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footerTop__menuSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footerTop__menuSocialLink svg {
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.footerTop__menuSocialLink:hover svg {
  fill: #123366;
}

html,
body {
  height: 100%;
}

body.navigation-opened {
  overflow: hidden !important;
}

/* titles */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 15px 0;
}

p {
  font-size: 18px;
  line-height: 1.55;
  color: #2f2f2f;
  font-family: "mavenpro-regular", sans-serif;
  font-weight: 400;
  text-transform: none;
}

h1 {
  font-size: 27px;
  line-height: 1;
  color: #2f2f2f;
  font-family: "mavenpro-regular", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  line-height: 1.1;
  color: #2f2f2f;
  font-family: "mavenpro-regular", sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  color: #2f2f2f;
  font-family: "mavenpro-regular", sans-serif;
  font-weight: 400;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.slick-arrow {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.slick-prev {
  left: -45px;
}
.slick-next {
  right: -45px;
}

.color-accent {
  color: #eb1b2b;
}

.container {
  width: 100%;
  max-width: 1180px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.btn {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  padding: 16px 56px 15px;
  border-radius: 4px;
  background-color: #123366;
  display: block;
  text-align: center;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  font-family: "mavenpro-bold", sans-serif;
}
.btn:hover {
  background-color: #eb1b2b;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (max-width: 767px) {
  .btn {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
  }
}
.btn-secondary {
  border: 1px solid #2f2f2f;
  color: #2f2f2f;
  background-color: transparent;
}
.btn-secondary:hover {
  color: #eb1b2b;
  border-color: #eb1b2b;
  background-color: transparent;
}
.btn-tertiary {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
.btn-tertiary:hover {
  color: #000;
  border-color: #000;
  background-color: transparent;
}

.title {
  color: #2f2f2f;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: 0 0 25px;
  font-family: "mavenpro-bold", sans-serif;
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 48px;
  }
}

.hero {
  padding: 140px 0 70px;
  background: #eb1b2b url("../images/hero.jpg") no-repeat top center;
  background-size: cover;
  color: #fff;
}
.hero__item {
  max-width: 652px;
  margin-left: 184px;
}
@media screen and (max-width: 767px) {
  .hero__item {
    max-width: 100%;
    margin-left: 0;
  }
}
.hero__itemTitle {
  color: #fff;
  font-size: 72px;
  font-family: "mavenpro-bold", sans-serif;
  line-height: 1.2;
  font-weight: 700;
  padding: 0 0 20px;
}
@media screen and (max-width: 767px) {
  .hero__itemTitle {
    font-size: 48px;
  }
}
.hero__itemSubtitle {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  padding: 0 0 10px;
  font-family: "mavenpro-bold", sans-serif;
}
@media screen and (max-width: 767px) {
  .hero__itemSubtitle {
    font-size: 22px;
  }
}
.hero__itemBtnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.about {
  padding: 74px 0 80px;
  background: #f8f8f8;
}
.about__item {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
}
.about__itemTitle {
  color: #2f2f2f;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: 0 0 25px;
}
@media screen and (max-width: 767px) {
  .about__itemTitle {
    font-size: 48px;
  }
}
.about__textWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.about a {
  text-decoration: underline;
}
.about__imgWrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.about__imgWrap img {
  display: block;
  width: 100%;
}
.about__itemSubtitle,
.about a {
  color: #2f2f2f;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
  text-align: justify;
  padding: 0;
  margin: 0;
}
.about__itemSubtitle.m-secondary,
.about a.m-secondary {
  text-align: justify;
}
.about__btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 0;
}

.subscribe {
  padding: 56px 0 56px;
  background: #eb1b2b url("../images/subscribe.jpg") no-repeat top center;
  background-size: cover;
  color: #fff;
}
.subscribe__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
.subscribe__itemTitle {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "mavenpro-bold", sans-serif;
}
@media screen and (max-width: 767px) {
  .subscribe__itemTitle {
    width: 100%;
    text-align: center;
  }
}
.subscribe__itemBtnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 767px) {
  .subscribe__itemBtnWrap {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.interview {
  background: #f9f9f9;
  padding: 46px 0 60px;
}
.interview__item {
  max-width: 848px;
  margin-left: auto;
  margin-right: auto;
}
.interview__itemTitle {
  color: #2f2f2f;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: 0 0 25px;
}
@media screen and (max-width: 767px) {
  .interview__itemTitle {
    font-size: 48px;
  }
}
.interview__itemImgWrap {
  margin-right: 15px;
  margin-left: 15px;
  height: 450px;
}
@media screen and (max-width: 767px) {
  .interview__itemImgWrap {
    margin-left: 0;
    margin-right: 0;
  }
}
.interview__itemImg {
  width: 100%;
  height: 100%;
  display: block;
}

.news {
  padding: 30px 0 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(#f8f8f8));
  background: -o-linear-gradient(rgb(255, 255, 255) 0%, #f8f8f8 100%);
  background: linear-gradient(rgb(255, 255, 255) 0%, #f8f8f8 100%);
}
.news__sliderWrap {
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
}
.news__sliderWrap.m-grid {
  padding-left: 0;
  padding-right: 0;
}
.news__slider.m-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.news__slider.m-grid .news__slide {
  width: 50%;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .news__slider.m-grid .news__slide {
    width: 100%;
  }
}
.news__slider.m-grid .news__slideInner {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .news__slider.m-grid .news__slideInner {
    padding-left: 0;
    padding-right: 0;
  }
}
.news__slideInner {
  padding: 0 23px 23px;
}
@media screen and (max-width: 767px) {
  .news__slideInner {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.news__slideLink {
  display: block;
}
.news__slideImg {
  display: block;
  width: 100%;
  max-width: 100%;
}
.news__slideFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding-top: 15px;
}
.news__slideText {
  margin: 0;
  padding: 0;
  text-transform: none;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
  font-family: "mavenpro-medium", sans-serif;
}
.news__btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.book {
  background: #f23f4b;
  padding: 60px 0;
}
.book__title {
  color: #fff;
}
.book__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .book__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.book__innerItem {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .book__innerItem {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .book__innerItem.m-primary {
    padding-bottom: 30px;
  }
}
.book__innerItemInner {
  padding: 0 24px;
}
.book__img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.book__itemTitle {
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: "mavenpro-bold", sans-serif;
}
.book__itemContent {
  padding: 45px 0 0;
}
.book__itemParagraph {
  font-size: 26px;
  color: #fff;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
.book__itemBtnWrap {
  padding: 65px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.shop {
  padding: 30px 0 75px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(#f8f8f8));
  background: -o-linear-gradient(rgb(255, 255, 255) 0%, #f8f8f8 100%);
  background: linear-gradient(rgb(255, 255, 255) 0%, #f8f8f8 100%);
}
.shop__sliderWrap {
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
}
.shop__slideInner {
  padding: 0 23px 23px;
}
@media screen and (max-width: 767px) {
  .shop__slideInner {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.shop__slideLink {
  display: block;
}
.shop__slideImg {
  display: block;
  width: 100%;
  max-width: 100%;
}
.shop__slideFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding-top: 15px;
}
.shop__slideTitle {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  font-family: "mavenpro-bold", sans-serif;
}
.shop__slidePrice {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}
.shop__btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.date {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #bdbdbd;
  color: #bdbdbd;
}
/*# sourceMappingURL=style.css.map */
